$color-white: #ffffff;
$color-black: #000000;
$color-black_1: #111111;
$special_dark-grey: #444444;
$special-grey: #222222;
$basic_green: #68b738;
$color-grey: #eaeaea;
$program_background-color: #f2f2f2;
