$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #111111;
$special-dark-grey: #444444;
$special-grey: #222222;
$basic-green: #68b738;
$color-grey: #eaeaea;
$program-background-color: #f2f2f2;
