/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  background-color: $color-white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
