@mixin font-face($font-family, $font-weigh, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weigh;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}
