.basis_heading-1 {
  margin: 0;
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
}

.basis_heading-2 {
  margin: 0;
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
}
