.card__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-grey;
}

.card__title--yet {
  color: $color-black_1;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
}

.card__button--yet {
  background-color: $program_background-color;
}
